body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
}

.result-calculator {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
}

button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    background-color: wheat;
    cursor: pointer;
}

button.reset {
    background-color: #ff6b6b;
    color: #fff;
    width: auto;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
